extends layout 

block content 

    h1 Name: #{dev_details.name}

    h2 Founded 
    p #{dev_details.founded}

    h4 Games: 
        each game in games 
             a(href=game.url) #{game.title} 

    a(href=`${dev_details.url}/update`)
        button(type="button") Update Developer
    a(href=`${dev_details.url}/delete`)
        button(type="button") Delete Developer

    br
    a(href='/') Home Screen