extends layout 

block content 

    h1 Title: #{game_details.title}

    h2 Description 
    p #{game_details.description}

    h3 Developer 
    a(href=dev.url) #{dev.name}
    
    h4 Release date 
    p #{game_details.release_date}

    h4 Genres 
        each genre in genres
            br 
            a(href=genre.url) #{genre.name}


    br
    a(href='/') Home Screen